<html>
<body style="font-size:9px;">
<hr />
<div style=" margin:0 8 0 8;">
  The theme is designed around having a quad core PC with 2 graphics cards but is easily customizable.
</div> 
<hr />
<div style=" margin:0 8 0 8;">
  If you want to use different monitoring applications (e.g. CoreTemp instead of SpeedFan) select each of the text and status image items under the "Cores" and "Fan" sections and change the "Application" field for each accordingly. You may also need to tweak the value type/group/item fields as appropriate.<br />
  <br />
  Similarly, to convert this theme from using MSI Afterburner to another graphics card monitoring tool, select the items under the "GPUs" heading and change them as required.   
</div>
</body>
</html>
