<html>
<body style="font-size:9px;">
<div style=" margin:0 120 8 120; font-size:12px;">
  <b>[Eos Layout]</b>  
</div>                   
<div style=" margin:0 8 0 8;">
  This layout is by Triscopic, but uses the following resources:
  <ul style="margin:4 4 0 0;">
    <li>"<a href="http://elusive.deviantart.com/art/Eos-98232490">Eos</a>" background by <b>elusive</b> @ DeviantArt.</li>
    <li>"<a href="http://famfamfam.com">Silk</a>" icons by <b>famfamfam.com</b>.</li>
    <li>Weather Images by <b>Yahoo!</b></li>
  </ul>
</div>  <hr />
<div style=" margin:0 8 0 8; color:darkblue">
  Don't forget to set your location on the Plugins tab - select the Weather Plugin and enter your location and unit choices there.  
  <br><br>
  <span style="color:darkred">You may also want to change the warning levels on the temperatures & fan status icons (the values set here work for me, but I don't guarantee them for anyone else - check your hardware's recommended values!)</span>
</div>
<hr />
</body>
</html>