<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
    <key>CFBundleIconFile</key>
    <string>LCDHost.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleGetInfoString</key>
    <string>Copyright (c)2016 Link Data Stockholm</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleExecutable</key>
    <string>LCDHost</string>
    <key>CFBundleIdentifier</key>
    <string>se.linkdata.lcdhost</string>
</dict>
</plist>
